<h1 class="text-center">Editando cliente</h1>

<%= render "form", cliente: @cliente %>

<br>

<div class="d-flex justify-content-center">
  <button class="btn btn-primary custom-button">
    <%= link_to "Detalhes do cliente", @cliente, class: "white-text"  %>
  </button>

  <button class="btn btn-primary custom-button">
    <%= link_to "Retornar a listagem", clientes_path, class: "white-text" %>
  </button>
</div>

<br><br><br><br>
