<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Assunto do E-mail</h1>
  <p>Olá Trabalhador,</p>
  <p>Você recebeu um e-mail relacionado ao contrato.</p>
  <p>Detalhes do contrato:</p>
  <ul>
    <li>Serviço: </li>
    <li>Cliente: ></li>
  </ul>
  <p>Por favor, entre em contato conosco para mais informações.</p>
  <p>Atenciosamente,</p>
  <p>A equipe do Seu App</p>
</body>
</html>
