<h1 class="text-center">Editando serviço</h1>

<%= render "form", servico: @servico %>

<br>

<div class="d-flex justify-content-center" style="margin-bottom: 20px">
  <button class="btn btn-primary custom-button">
    <%= link_to "Detalhes do serviço", @servico, class: "white-text"  %>
  </button>
  <button class="btn btn-primary custom-button">
    <%= link_to "Retornar a listagem", servicos_path, class: "white-text" %>
  </button>
</div>
<br><br><br><br>