<h1 class="text-center">Novo serviço</h1>

<%= render "form", servico: @servico %>

<br>

<div class="d-flex justify-content-center">
  <button class="btn btn-primary custom-button">
    <%= link_to "Retonar a listagem", servicos_path, class: "white-text" %>
  </button>
</div>
<br><br><br>