<h1 class="text-center">Novo serviço</h1>
<p class="text-center">Você deve anexar o seu QRcode pix para o serviço. Idealmente, envie o pix de recebimento de valor fixo.</p>
<p class="text-center" >Em caso de duvida, gere facilmente um QRcode pix de valor fixo apenas com a chave em <a href="https://www.gerarpix.com.br" target="_blank">Gera pix</a></p>

<%= render "form", servico: @servico %>

<br>

<div class="d-flex justify-content-center">
  <button class="btn btn-primary custom-button">
    <%= link_to "Retonar a listagem", servicos_path, class: "white-text" %>
  </button>
</div>
<br><br><br>