<h1>New servico</h1>

<%= render "form", servico: @servico %>

<br>

<div class="d-flex justify-content-center">
  <button class="btn btn-primary custom-button">
    <%= link_to "Back to servicos", servicos_path, class: "white-text" %>
  </button>
</div>
