<h1>Editing trabalhador</h1>

<%= render "form", trabalhador: @trabalhador %>

<br>

<div class="d-flex justify-content-center" style="margin-bottom: 20px">
  <button class="btn btn-primary custom-button">
    <%= link_to "Detalhes do trabalhador", @trabalhador, class: "white-text"  %>
  </button>
  <button class="btn btn-primary custom-button">
    <%= link_to "Retornar a listagem", trabalhadors_path, class: "white-text" %>
  </button>
</div>
