<h1>Editing trabalhador</h1>

<%= render "form", trabalhador: @trabalhador %>

<br>

<div>
  <%= link_to "Show this trabalhador", @trabalhador %> |
  <%= link_to "Back to trabalhadors", trabalhadors_path %>
</div>
