<h1>New trabalhador</h1>

<%= render "form", trabalhador: @trabalhador %>

<br>

<div class="d-flex justify-content-center">
  <button class="btn btn-primary custom-button">
    <%= link_to "Back to trabalhadors", trabalhadors_path, class: "white-text" %>
  </button>
</div>




