<head>

</head>
<body>
  <h1 class="text-center">Ola, <%= current_user.email %></h1>
  <p class="text-center"> Edite sua conta</p>
  <p class="text-center">
    <%= link_to "Alterar informações da conta", edit_user_registration_path , data: { turbo_method: :post} %>
    <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link active", aria: { current: "page" } %>

  </p>
</body>
