<head>
  <style>
      .img-size {
          width: 500px; /* Ou o tamanho que você desejar */
          height: auto; /* Isso manterá a proporção original da imagem */
      }
      .text-justify {
          text-align: justify;
          margin-left: 50px;
          margin-right: 50px;
      }
      .img-container {
          text-align: center;
          display: block;
          margin-left: 200px;
          margin-right: 200px;
      }
      .lead{}
  </style>
</head>
<br>
<h1 class="text-center">Sobre Nós</h1>
<p class="text-justify">Esta é a página de informações sobre o nosso projeto. </strong> A seguir segue informações sobre o release da nossa nova versão.
  Qual o objetivo do nosso projeto? O sistema visa conectar trabalhadores independentes com potenciais clientes, deve ter as funcionalidades de cadastrar, editar, remover e visualizar, trabalhadores e clientes, os trabalhadores devem ser capazes de cadastrar, editar, remover e visualizar serviços, onde eles vão poder dar uma explicação sobre o serviço, horário de início e término do serviço ao dia, colocar preço e etc. Os clientes devem ser capazes de visualizar e contratar o serviço (o sistema não deve permitir uma contratação de serviço em um horário já ocupado por outro cliente.). Além disso, para que o sistema tenha segurança para seus usuários, deve existir o usuário administrador capaz de fazer uma pesquisa no sistema tanto para cliente quanto para trabalhador, ser capaz de visualizar, remover usuário e visualizar todas as contratações de um usuário a fim de evitar crimes por parte dos mesmos.
</p>
<span class="img-container">

    <img src="<%= asset_path('shouldz_circulo.png') %>" alt="Dev. Pedro Souza" width="150" height="150" >
    <p class="lead"><em>Front-end by Pedro Souza</em></p>
</span>



