<h1 class="text-center">Editing trabalhador</h1>

<%= render "form", contrato: @contrato %>

<br>

<div class="d-flex justify-content-center" style="margin-bottom: 20px">
  <button class="btn btn-primary custom-button">
    <%= link_to "Show this contrato", @contrato, class: "white-text"  %>
  </button>
  <button class="btn btn-primary custom-button">
    <%= link_to "Back to contrato", contrato_path, class: "white-text" %>
  </button>
</div>

